<p>Vous êtes connecté ! {{ username }} votre ID {{userId}}</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="spendingType">Quel genre depenses avez-vous effectue</label>
    <input type="text" id="spendingType" formControlName="spendingType">
  </div>
  <div>
    <label for="amount">Votre montant</label>
    <input type="text" id="amount" formControlName="amount">
  </div>
  <div>
    <label for="comment">Commentaire</label>
    <input type="text" id="comment" formControlName="comment">
  </div>

  <button>Send</button>
</form>
